hotkey-overlay {
    skip-at-startup
}

spawn-at-startup "waybar"
spawn-sh-at-startup "swaybg -i ~/.dotfiles/walls/night01.jpg -m fill"
spawn-at-startup "swayidle" "-w" "timeout" "601" "niri msg action power-off-monitors" "timeout" "600" "swaylock -f" "before-sleep" "swaylock -f"

include "modules/binds.kdl"
include "modules/input.kdl"
include "modules/layout.kdl"
include "modules/outputs.kdl"
include "modules/window-rules.kdl"
