* {
  urgent: #ffa07a;
  active: @fg;
  bg: #1a1b26;
  bg-alt: #242633;
  border: #a9b1d6;
  fg: #a9b1d6;
  fg-alt: #989fc0;
  selected: #62b086;
  background-color: @bg;
  text-color: @fg;
}

configuration {
  font: "Caskaydia Mono Nerd Font 12";
  terminal: "foot";

  combi {
    display-name: "󰍜";
  }

  drun {
    display-name: "drun:";
  }

  dmenu {
    display-name: "dmenu:";
  }

  ssh {
    display-name: "";
  }

  run {
    display-name: "";
  }

  window {
    display-name: "";
  }

  microphone {
    display-name: "󰍬";
  }

  timeout {
    delay: 20;
    action: "kb-cancel";
  }

  filebrowser {
    display-name: "";
  }

  display-drun: "Application:";
  display-window: "Window:";
  display-filebrowser: "Files:";
  drun-display-format: "{name}";
  case-sensitive: false;
  sort: true;
  sorting-method: "fzf";
  modi: [
    "run",
    "drun",
    "window",
    "filebrowser",
    "ssh"
  ];
  show-icons: true;
  terminal: "foot";
}

window {
    location:                    center;
    anchor:                      center;
    fullscreen:                  false;
    width:                       400px;
    x-offset:                    0px;
    y-offset:                    0px;
    font:                        "JetBrains Mono Nerd Font 12";
    enabled:                     true;
    margin:                      0px;
    padding:                     0px;
    border:                      2px solid;
    border-radius:               0px;
    border-color:                @border;
    cursor:                      "default";
    background-color:            @bg;
}
