@import "share"

window {
  transparency: "real";
  width: 700px;
}

mainbox {
  children: [inputbar, listview];
}

inputbar {
  background-color: transparent;
  children: [prompt, entry];
}

entry {
  background-color: inherit;
  padding: 12px 3px;
}

prompt {
  background-color: inherit;
  padding: 12px;
}

listview {
  lines: 8;
  padding: 0 10px;
}

element {
  children: [element-icon, element-text];
  padding: 8px 0;
}

element-icon {
  padding: 10px 10px;
  size: 20px;
  background-color: transparent;
}

element-text {
  padding: 10px 0;
  background-color: transparent;
}

element selected,
element selected.normal {
  background-color: @bg-alt;
  text-color: @selected;
}

element-text selected,
element-text selected.normal {
  background-color: transparent;
  text-color: @selected;
}

element-icon selected,
element-icon selected.normal {
  background-color: transparent;
}
