@define-color bg    #1e1e2e;
@define-color fg    #cdd6f4;
@define-color blk   #32344a;
@define-color red   #f7768e;
@define-color grn   #a6e3a1;
@define-color ylw   #e0af68;
@define-color blu   #7aa2f7;
@define-color mag   #ad8ee6;
@define-color cyn   #0db9d7;
@define-color org   #ff9e64;
@define-color void  #62b086;
@define-color brblk #444b6a;
@define-color white #ffffff;

/* TOKYONIGHT
@define-color bg    #1a1b26;
@define-color bg2   #333333;
@define-color fg    #a9b1d6;
@define-color fg2   #87afb1;
@define-color blk   #32344a;
@define-color red   #f7768e;
@define-color grn   #9ece6a;
@define-color ylw   #e0af68;
@define-color blu   #7aa2f7;
@define-color mag   #ad8ee6;
@define-color cyn   #0db9d7;
@define-color org   #ff9e64;
@define-color brblk #444b6a;
@define-color white #ffffff;
*/

* {
    font-family: "JetBrains Mono Nerd Font", monospace; font-size: 16px; font-weight: 600; }

window#waybar {
    color: @fg;
    background: @bg;
}

/* WORKSPACES */

#workspaces button {
    margin: 4px 0px 4px 4px;
    padding: 0px 4px;
    color: @fg;
    background: transparent;
}

#workspaces button.focused {
    color: @bg;
    background: @fg;
    border-radius: 0px;
}

/* for niri: "button.active */
#workspaces button.empty {
    color: @brblk;
}

#workspaces button.empty.focused {
    color: @bg;
}

#workspaces button.urgent {
    color: @bg;
    background-color: @red;
    border-radius: 0px;
}

button:hover {
    margin: 4px 0px 4px 4px;
    padding: 0px 4px;
    border: none;
    background: @red;
    box-shadow: none;
}

#window {
    color: @fg;
    padding: 0px 0px 0px 16px;
}

/* RIGHT/LEFT PADDING */
#clock,
#custom-sep,
#battery,
#cpu,
#memory,
#disk,
#pulseaudio,
#tray {
    padding: 0 8px;
}

#custom-vpn,
#custom-hey,
#custom-kernel,
#pulseaudio {
    padding-left: 6px;
    padding-right: 6px;
}

#custom-spotify {
    color: @fg;
    padding-left: 16px;
    padding-right: 0px;
}

#battery {
    color: @fg;
    margin-right: 10px;
}

#battery.charging { color: @grn; }
#battery.full { color: @grn; }
#battery.plugged { color: @fg; }
#battery.warning { color: @org; }
#battery.critical { color: @red; }

#network {
    color: @bg;
    padding: 0 16px 0 6px; }
#network.ethernet { color: @fg; }
#network.wifi { color: @blu; }
#network.disconnected { color: @red; }
